<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <main>
            <h1>{{title}}</h1>
            <div class="center_image">
                <img src="{{image}}" width="50%" height="50%">
            </div>
            <ul>
                <li>
                    <p>Authors: {{authors}}</p>
                </li>
                <li>
                    <p>Publish Date: {{publish_date}}</p>
                </li>
                <li>
                    <p>Keywords: {{keywords}}</p>
                </li>
            </ul>
            <h2>Summary</h2>
            <p>{{summary}}</p>
            <h2>Text</h2>
            <p>{{text}}</p>
        </main>
    </body>
</html>